@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

ul {
  list-style: none;
}

/* --------------Index---------------------- */

/* Pages navigation */
.page-header {
  background-color: #ffffff;
  height: 64px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  height: 64px;
  margin: 0 auto;
  padding-top: 0;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-logo {
  margin-bottom: -20px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 550px;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.navigation-link-current {
  border-bottom: 2px solid #756157;
  padding-bottom: 20px;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 310px;
  margin-left: 0;
}

.navigation-search {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  text-transform: capitalize;

}

.button-navigation {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 8px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

/* Main index*/
.main-index {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.main-container {
  flex-grow: 1;
  align-items: center;
}


/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  background-color: #82b3d3;
  background-image: url(../images/divider.svg),
    url(../images/index-background.jpg);
  background-position: bottom, top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hero-message {
  margin-top: 50px;
  margin-bottom: 80px;
}

.hero-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-description-small {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

/* Advantages */
.advantages {
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-list-above {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-rows: minmax(384px, auto);
  grid-template-areas: 'advantages-city advantages-img advantages-img'
    'advantages-square advantages-road  advantages-turist'
    'advantages-turist-mountain advantages-turist-mountain advantages-bridge'
    'advantages-home advantages-food advantages-gift';
}

.advantages-header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.line-blue {
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 85px;
  margin-right: 85px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.line-grey {
  width: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 85px;
  margin-right: 85px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-item {
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
}

.advantages-city {
  color: #ffffff;
  background-color: #82b3d3;
  grid-area: advantages-city;

}

.advantages-road {
  background: rgba(131, 179, 211, 0.2);
  grid-area: advantages-road;
}

.advantages-bridge {
  color: #ffffff;
  background-color: #82b3d3;
  grid-area: advantages-bridge;
}

.dvantages-city-home {
  grid-area: dvantages-city-home;
}

.advantages-turist-mountain {
  grid-area: advantages-turist-mountain;
}

.advantages-home {
  grid-area: advantages-home;
}

.advantages-food {
  background-color: #ffffff;
  grid-area: advantages-food;
}

advantages-gift {
  grid-area: advantages-gift;
}

/* search */
.search-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 54px;
  padding-left: 304px;
  padding-right: 304px;
  margin: 0;
}

.search-button {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 96px;
}

/* Subscribe */
.subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

.subscribe-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 96px;
  margin: 0;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 54px;
  margin: 0;
}

.subscribe-email {
  width: 452px;
  height: 52px;
  border: 0;
  border-radius: 4px 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.subscribe-button {
  width: 232px;
  height: 52px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px 4px;
  margin-bottom: 104px;
}

/* footer */
.page-footer {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

/* footer-phone-animation */

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  text-decoration: none;
}

.footer-phone-number:hover {
  color: #756157;
  text-decoration: none;
}

.footer-phone-number:focus {
  color: #756157;
  text-decoration: none;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
  text-decoration: none;
}

/* footer-logo-animation */
.footer-contacts-logo svg {
  fill: #000000;
}

.footer-contacts-logo:hover svg {
  fill: #756157;
}

.footer-contacts-logo:focus svg {
  fill: #756157;
}

.footer-contacts-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* VK-animation */
.vkontakte-button svg {
  fill: #83B3D3;
}

.vkontakte-button:hover svg {
  fill: #68A2CA;
}

.vkontakte-button:focus svg {
  fill: #68A2CA;
}

.vkontakte-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

/* Telegram-animation */
.telegram-button svg {
  fill: #83B3D3;
}

.telegram-button:hover svg {
  fill: #68A2CA;
}

.telegram-button:focus svg {
  fill: #68A2CA;
}

.telegram-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

/* Youtube-animation */
.youtube-button svg {
  fill: #83B3D3;
}

.youtube-button:hover svg {
  fill: #68A2CA;
}

.youtube-button:focus svg {
  fill: #68A2CA;
}

.youtube-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-list {
 display: flex;
 justify-content: space-between;
 width: 142px;
}



/* Hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------Catalog--------------------------- */

/* Main catalog*/
.main-inner {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.page-container {
  width: 1060px;
  margin: 0 auto;
}

.main-inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
  }


/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-home {
  background-repeat: no-repeat;
  color: inherit;
  text-decoration: none;
}

/* catalog-filter */
.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* filter-catalog */
.catalog-header-background {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url(../images/filter.jpg);
  height: 476px;
  background-size: cover;
  background-repeat: no-repeat;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
}

.sorting-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.filter-button-submit {
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
}

.filter-button-reset {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
}

.button-info {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
}

.button-favorite {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
}

.button-favorite-current {
  background-color: #7db54f;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
}

.button-rate {
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  border: 1px;
  border-radius: 4px;
  text-decoration: none;
}

.button-stars-four {
  width: 140px;
  height: 37px;
  background-image: url(../images/four_stars.svg);
  background-repeat: no-repeat;
}

.button-stars-three {
  width: 140px;
  height: 37px;
  background-image: url(../images/three_stars.svg);
  background-repeat: no-repeat;
}

.button-stars-two {
  width: 140px;
  height: 37px;
  background-image: url(../images/two_stars.svg);
  background-repeat: no-repeat;
}

/* catalog-hotels */
.catalog-header {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
}

/* Link */
.pagination-list {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  width: 660px;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 60px;
  }

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 23px;
}

.pagination-current {
  color: #ffffff;
  background-color: #f2f2f2;
  padding: 23px;
  border-radius: 4px;
}

.pagination-dote {
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 23px;
      }

.line-bottom {
  width: 1060px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 70px;
  margin-right: 70px;
  border-bottom: 1px solid #E6E6E6;
}
