@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

ul {
  list-style: none;
}

/* --------------Index---------------------- */

/* Pages navigation */
.page-header {
  background-color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 0;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-logo {
  align-self: flex-start;
  margin-bottom: -80px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 550px;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.navigation-link-current {
  border-bottom: 2px solid #756157;
  padding-bottom: 20px;
}

.navigation-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 310px;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navigation-search {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 20px;
  margin: 0;
  border: none;
}

.navigation-link {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-like {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  background: #7db54f;
  clip-path: circle(46%);
  color: #fff;
  position: relative;
  top: -15px;
  right: 11px;
  padding: 3px;
}

.button-navigation {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 8px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

/* Main index*/
.main-index {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.main-container {
  flex-grow: 1;
  align-items: center;
}

/* Hero */
.hero-message {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  background-image: url(../images/divider.svg),
    url(../images/index-background.jpg);
  background-position: bottom, top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 70px;
  padding-right: 70px;

}
.hero-sedona {
  margin-left: auto;
  margin-right: auto;
}

.hero-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 69px;
  padding-bottom: 25px;
}

/* Advantages */
.advantages {
  background-color: #ffffff;
  text-align: center;
}

.advantages-title {
  margin: 0;
  padding-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-container {
  padding-top: 92px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 110px;
  }

.advantages-header {
  position: relative;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-header::before {
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  bottom: -30px;
  left: 50%;
  margin-left: -25px;
  }

  .advantages-header-white {
    position: relative;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .advantages-header-white::before {
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
    bottom: -30px;
    left: 50%;
    margin-left: -25px;
    }
.advantages-header-plus {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.advantages-description {
   font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
 }

.advantages-city {
  color: #ffffff;
  display: flex;
  background-color: #82b3d3;
}

.advantages-square {
  max-width: 400px;
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  max-width: 400px;
  display: flex;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-turist {
  max-width: 400px;
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-bridge {
  color: #ffffff;
  display: flex;
  background-color: #82b3d3;
}

.advantages-home {
  max-width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-food {
  max-width: 400px;
}

.advantages-gift {
  max-width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container-plus {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 80px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 80px;
}

/* search */
.search {
  padding-top: 96px;
  padding-bottom: 96px;
  padding-left: 70px;
  padding-right: 70px;
}

.search-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 54px;
  text-align: center;
  margin: 0;
}

.search-button {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

/* Subscribe */
.subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 70px;
  padding-right: 70px;
}

.subscribe-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}

.subscribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 54px;
  margin: 0;
}

.subscribe-email {
  width: 452px;
  height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  margin-left: auto;
}

.subscribe-button {
  width: 232px;
  height: 54px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-right: auto;
}

.subscribe-form {
  display: flex;

}

/* footer */
.page-footer {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
}

.footer-social-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}

/* footer-phone-animation */

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  text-decoration: none;
}

.footer-phone-number:hover {
  color: #756157;
  text-decoration: none;
}

.footer-phone-number:focus {
  color: #756157;
  text-decoration: none;
}

.footer-phone-number:active {
  color: rgba(117, 97, 87, 0.3);
  text-decoration: none;
}

/* footer-logo-animation */
.footer-contacts-logo svg {
  fill: #000000;
}

.footer-contacts-logo:hover svg {
  fill: #756157;
}

.footer-contacts-logo:focus svg {
  fill: #756157;
}

.footer-contacts-logo:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* VK-animation */
.vkontakte-button svg {
  fill: #83b3d3;
}

.vkontakte-button:hover svg {
  fill: #68a2ca;
}

.vkontakte-button:focus svg {
  fill: #68a2ca;
}

.vkontakte-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

/* Telegram-animation */
.telegram-button svg {
  fill: #83b3d3;
}

.telegram-button:hover svg {
  fill: #68a2ca;
}

.telegram-button:focus svg {
  fill: #68a2ca;
}

.telegram-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

/* Youtube-animation */
.youtube-button svg {
  fill: #83b3d3;
}

.youtube-button:hover svg {
  fill: #68a2ca;
}

.youtube-button:focus svg {
  fill: #68a2ca;
}

.youtube-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  width: 142px;
}

/* Hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------Catalog--------------------------- */

/* Main catalog*/
.main-inner {
  color: #000000;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.page-container {
  width: 1060px;
  margin: 0 auto;
}

/* catalog-filter */
.filter {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 35px;
  padding-bottom: 70px;
}

.main-inner-header {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding-left: 0;
  padding-bottom: 40px;
}

.breadcrumbs-home {
  background-repeat: no-repeat;
  color: inherit;
  text-decoration: none;
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-number {
  position: relative;
}

.catalog-header-background {
  color: #ffffff;
  background-color: #756157;
  background-image: url(../images/filter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-form {
  display: flex;
  margin: 0;
  justify-content: space-between;
}

.sorting-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.filter-legend {
  margin-bottom: 32px;
}

.filter-infrastructure {
  border: none;
}

.filter-house {
  border: none;
}

.filter-price {
  width: 340px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.filter-list {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* check-box */

.control-input {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}





/* radio */

.control-radio {
  width: 20px;
  height: 20px;
}

/* price */

.control-label {
  position: absolute;
  color: #000000;
  top: 15px;
  left: 120px;
  }

.control-min {
  width: 143px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 5px;
}

.control-max {
  width: 143px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.price-slide {
  width: 340px;
  margin-top: 36px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-end;
}

.filter-button-submit {
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.filter-button-reset {
  display: inline-block;
  width: 191px;
  height: 36px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

/* catalog-header */

.catalog-header-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  align-items: center;
}

.sorting-header {
  margin: 0;
  padding: 0;
}

.catalog {
  padding: 50px 70px;
}

.select-price {
  width: 400px;
  height: 48px;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 131px;
  margin-right: 72px;
}

.button-grid {
  background-image: url(../images/grid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
}

.button-one {
  background-image: url(../images/one.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin: 0;
  vertical-align: top;
  cursor: pointer;
}

.button-list {
  background-image: url(../images/list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  vertical-align: top;
  cursor: pointer;
  }

/* Catalog-cards */

.hotel-table {
  display: grid;
  gap: 10px;
  grid-template-columns: 142px 142px;
  justify-content: start;
  }

.catalog-header {
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 0;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-item {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 19px;
  margin-bottom: 30px;
}

.product-name {
  margin: 0;
}

.product-price {
  margin: 0;
  text-align: right;
}

.button-info {
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  margin: 0;
}

.button-favorite {
  background-color: #82b3d3;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

.button-favorite-current {
  background-color: #7db54f;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid;
  border-radius: 4px;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

.button-rate {
  background-color: #f2f2f2;
  color: #333333;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 8px;
  border: 1px;
  border-radius: 4px;
  text-decoration: none;
}

.button-stars-four {
  width: 140px;
  height: 37px;
  background-image: url(../images/four_stars.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.button-stars-three {
  width: 140px;
  height: 37px;
  background-image: url(../images/three_stars.svg);
  background-repeat: no-repeat;
  margin: 0;
}

.button-stars-two {
  width: 140px;
  height: 37px;
  background-image: url(../images/two_stars.svg);
  background-repeat: no-repeat;
  margin: 0;
}

/* Pagination */
.pagination {
margin-top: 30px;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  width: 660px;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding-left: 0;
  vertical-align: top;
  margin: 0;
  align-items: center;
}

.pagination-link {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  padding: 4px;
  height: 52px;
  min-width: 52px;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.pagination-current {
  display: flex;
  color: #ffffff;
  background-color: #f2f2f2;
  border-radius: 4px;
  height: 60px;
  min-width: 60px;
  text-align: center;
  align-items: center;
  justify-content: center;
  }

.pagination-dote {
  display: flex;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 4px;
  height: 60px;
  min-width: 60px;
  align-items: center;
  justify-content: center;
}
